/* 리셋 */
* {
   margin: 0;
   padding: 0;
   font-family: 'GmarketSans', sans-serif;
}
*,
*::before,
*::after {
   box-sizing: border-box;
}
a {
   color: inherit;
   text-decoration: none;
   outline: none;
   cursor: pointer;
}
ul,
li {
   list-style: none;
   padding: 0;
   margin: 0;
}
body {
   width: 100%;
}
button {
   all: unset;
   cursor: pointer;
}
/* kpop사이트 기존 */
#contents {
   /* width: 325px; */
   margin: 0 auto;
}

/* 섹션 02 수출 국가 */
.sec-02 {
   width: 100%;
   margin: 0 auto;
   padding: 6.5rem 0 3.5rem;
   margin-bottom: 65px;
   background-color: #f8f8f8;
   text-align: center;
}
.sec-02 .container {
   width: 100%;
   padding: 10px 0;
}
.sec-02-copy {
   margin-bottom: 30px;
   font-size: 0.95em;
   font-weight: 600;
   line-height: 1.5;
   color: #333;
}
.nationBox {
   width: 93%;
   margin: 0 auto;
   text-align: center;
}
.nationList {
   margin: 0 0.5em;
}

/* 화살표 */
.sec-02 .nationBox .slick-arrow {
   display: none;
   position: absolute;
   top: 0px;
   z-index: 999;
   text-indent: -9999px;
   outline: none;
}
.sec-02 .nationBox .slick-arrow.slick-prev {
   display: none;
}
.sec-02 .nationBox .slick-arrow.slick-next {
   display: none;
}
